/* GERAL */
*{
    margin: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes imagechanging {
    0%, 12%{
        background-image: url("https://www.sensecentar.org/sites/default/files/styles/max_1300x1300/public/2020-05/courtroom%20one.jpg?itok=3rzk1nHS");
    }

    30%, 42%{
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/03/ICTY.JPG");
    }

    60%, 72%{
        background-image: url("https://pbs.twimg.com/media/DPO6Xc8VQAIzfuf?format=jpg&name=4096x4096");
    }

    100%{
        background-image: url("https://www.sensecentar.org/sites/default/files/styles/max_1300x1300/public/2020-05/courtroom%20one.jpg?itok=3rzk1nHS");
    }
}

@keyframes floating{
    0%{
        transform: translateY(0%);
    }

    50%{
        transform: translateY(12%);
    }
    
    100%{
        transform: translateY(-12%);
    }

}

@keyframes uprising{
    from{
        transform: translateY(50%);
        opacity: 0;
    }

    to{
        transform: translateY(0%);
        opacity: 1;
    }
}

main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: whitesmoke;
}

@media screen and (max-resolution: 180dpi){
    /* Estruturas Genéricas */

    #pageone{
        background-repeat: no-repeat;
        background-position: center 100%;
        background-size: cover;
        background-attachment: fixed;
        animation: imagechanging 20s ease infinite;
    }

    header{
        display: flex;
        position: fixed;
        width: 100%;
        height: 80px;
        background-color: rgb(17, 86, 216);
        z-index: 9999;
    }

    header hr{
        border: 1px solid white;
        box-shadow: 0.1rem 0.2rem 0.3rem black;
    }

    .mps{
        position: relative;
        left: 50%;
        width: 60%;
        padding: 2em 2em;
        transform: translate(-50%, 0);
        box-shadow: 0 0 3rem .8rem black;
        z-index: 0;
    }

    #manchete{
        height: 80vh;
        overflow-y: hidden;
        background-image: url("https://feeds.abplive.com/onecms/images/uploaded-images/2022/02/17/69c3afc8a80253f8eff12bed8cb6e2c3_original.jpg");
    }

    #manchete img{
        width: 100%;
    }

    #manchete h1{
        position: absolute;
        width: 100%;
        top: 65vh;
        font-size: 7vh;
        text-align: center;
        color: rgb(17, 86, 216);
        animation: uprising ease-in 2s; 
    }

    #noticesite{
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        box-shadow: 0 -20vh 20vh 10vh black;
        z-index: 0;
    }

    #noticesite h2:first-child{
        margin: .8em 1em;
        font-size:xx-large;
        color: rgb(17, 86, 216);
    }

    .newsbar{
        display: flex;
        flex-direction: row;
    }

    .newsbar nav{
        display: flex;
        flex-direction: column;
        margin-left: 1em;
        width: 20%;
        min-width: 200px;
    }

    .noticia{
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 70%;
        transition: all ease 1s;
    }

    .noticia img{
        margin-top: 1em;
        width: 80%;
        height: 80%;
        box-shadow: 0em -1.8em 3em .3em white;
    }

    .noticia h3{
        font-size: x-large;
        margin: 1em 0;
    }

    .noticia:hover{
        cursor: pointer;
        transform: scale(1.02);
    }

    #paginasnoticias{
        margin: 5em 0;
        width: 100%;
        text-align: center;
    }

    footer{
        display: flex;
        position: relative;
        justify-content:center;
        color: rgb(252, 248, 248);
        text-align: center;
        width: 100%;
        height: 80px;
        background-color: rgb(3, 17, 23);
    }
    
    footer img{
        width: 45px;
        height: 45px;
    }

    /* IDs */

    #navigation{
        position: absolute;
        top: 50%;
        right: 1.5em;
        transform: translateY(-50%);
    }
    
    #navigation button{
        background-color: rgba(0, 0, 0, 0);
        border-style: none;
        margin: 1em 1em;
        padding: 1em 1em;
        color: white;
        width: fit-content;
        border-radius: .5em;
        transition: all ease .7s;
    }

    #navigation button:hover{
        cursor: pointer;
        background-color:rgba(0, 0, 0, 0.2);
    }

    #title{
        display: flex;
        color: whitesmoke;
    }

    #title img{
        width: 72px;
        height: 72px;
        margin: 4px 4px;
    }

    #titleText{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 80px;
    }

    #titleText label:first-child{
        font-weight: bold;
        font-size: xx-large;
    }

    #titleText label{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #redes{
        display: flex;
        position: absolute;
        align-items: center;
        top: 50%;
        left: 2em;
        transform: translateY(-50%);
    }
    
    #redes label{
        margin-left: 10px;
    }

    #contato{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    /* Classes */
    .mobile{
        display: none;
    }

    .casa{
        margin: 2.5em 0em;
    }

    .casa img{
        position: relative;
        width: 50%;
        left: 50%;
        margin: 2.5em 0em;
        transform: translateX(-50%);
    }

    .ninetypercentbr{
        display: flex;
        height: 90vh;
        z-index: 0; 
    }

    .quarterpercentbr{
        display: flex;
        height: 25vh;
        z-index: 0;
    }

    .wip{
        position: absolute;
        top: 50%;
        left: 50%;
        color: grey;
        transform: translate(-50%, -50%);
        text-align: right;
    }

}

/* CELULAR */

@media screen and (min-resolution: 180dpi){
    /* Estruturas Genéricas */
    #pageone{
        background-image: url("https://www.sensecentar.org/sites/default/files/styles/max_1300x1300/public/2020-05/courtroom%20one.jpg?itok=3rzk1nHS");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: contain;
        background-attachment: fixed;
    }

    header{
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background-color: rgb(17, 86, 216);
        z-index: 9999;
    }

    main{
        width: 100%;
        z-index: 0;
    }

    #manchete{
        height: 80vh;
        overflow-y: hidden;
        background-image: url("https://feeds.abplive.com/onecms/images/uploaded-images/2022/02/17/69c3afc8a80253f8eff12bed8cb6e2c3_original.jpg");
    }

    #manchete img{
        width: 100%;
    }

    #manchete h1{
        position: absolute;
        width: 100%;
        top: 66vh;
        font-size: 4vh;
        text-align: center;
        color: rgb(17, 86, 216);
        animation: uprising ease-in 2s; 
    }

    #manchete h1:before{
        content: "MANCHETE: ";
    }

    #noticesite{
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        box-shadow: 0 -20vh 20vh 10vh black;
        z-index: 0;
    }

    #noticesite h2:first-child{
        margin-top: 1em;
        text-align: center;
        font-size:xx-large;
        color: rgb(17, 86, 216);
    }

    .newsbar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .newsbar nav{
        display: none;  
    }

    .noticia{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 70%;
        height: 70%;
        transition: all ease 1s;
        padding: 1em 1em;
        border: 1px solid rgb(17, 86, 216);
    }

    .noticia img{
        margin-top: 1em;
        width: 80%;
        height: 80%;
    }

    .noticia h3{
        font-size: x-large;
        margin: 1em 0;
    }

    .noticia:hover{
        cursor: pointer;
        transform: scale(1.02);
    }

    #paginasnoticias{
        margin: 5em 0;
        width: 100%;
        text-align: center;
    }

    footer{
        display: flex;
        position: relative;
        text-align: center;
        justify-content:center;
        align-items: center;
        width: 100%;
        height: 80px;
        color: white;
        background-color: rgb(3, 17, 23);
    }
    
    footer img{
        width: 45px;
        height: 45px;
    }

    /* IDs */

    #title{
        display: flex;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    #title img{
        width: 72px;
        height: 72px;
        margin: 4px 4px;
    }

    #title #titleText{
        height: max-content;
        align-self: center;
        color: white;
    }

    #titleText hr{
        width: 80px;
        border: 1px solid white;
        box-shadow: 0.1rem 0.2rem 0.3rem black;
    }

    #titleText label:first-child{
        font-weight: bold;
        font-size: xx-large;
    }

    #titleText label{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #txtt1{
        display: none;
    }

    #navbar{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10000;
    }

    #btnMenu{
        position: absolute;
        transform: translate(30%, 1rem);
        width: 3rem;
        height: 3rem;
        border-radius: 1.5rem;
        border-style: none;
        transition: all ease 0.3s;
        background-color: rgba(0, 0, 0, 0);
    }

    #btnMenu:hover{
        background-color: rgba(0, 0, 0, 0.2);
    }

    #navmenu{
        display: flex;
        flex-direction: column;
        position: absolute;
        color: white;
        padding: 1em 0em 0em 1em;
        width: 60vw;
        height: 100vh;
        background-color: rgb(12, 66, 165);
        transform: translateX(-130%);
        transition: all ease 0.5s;
    }

    #navmenu:target{
        transform: translateX(0);
        pointer-events: auto;
    }

    #navmenu ul{
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        width: max-content;
        height: 40vh;
    }

    #navmenu button{
        left: 1em;
        width: 30vw;
        height: 6vh;
        font-size: large;
        text-align: left;
        color: white;
        border-style: none;
        border-radius: .4em;
        background-color: rgba(0, 0, 0, 0);
        transition: all ease 0.5s;
    }

    #navmenu button:active{
        background-color: rgba(0, 0, 0, 0.2);
    }

    #navmenu a:last-child{
        bottom: 0;
    }

    #redes{
        display: flex;
        align-items: center;
        top: 50%;
        margin-left: 1rem;
    }
    
    #redes label{
        display: none;
    }

    #contato p strong{
        display:none;
    }

    /* Classes */

    .computer{
        display: none;
    }

    .navline{
        width: 30vw;
        margin: .8em 0;
    }

    .ninetypercentbr{
        display: flex;
        height: 33vh;
        z-index: 0;
    }

    .casa{
        margin: 2.5rem 2.5rem;
    }

    .casa img{
        position: relative;
        left: 50%;
        width: 80%;
        transform: translateX(-50%);
        margin: 1rem 0;
    }

    .wip{
        position: absolute;
        width: 80%;
        top: 50%;
        left: 50%;
        color: grey;
        transform: translate(-50%, -50%);
        text-align: right;
    }
}
